* {
  transition: ease 0.3s;
}

.App {
  text-align: center;
}

.todo-card:hover {
  padding: 10px 0 10px !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4) !important;
}
.todo-card {
  transition: ease 0.3s !important;
}

.del-word {
  color: #ff0e0e;
  font-weight: 500;
}

/*===== Fonts ===== */

@font-face {
  font-family: AlexFont;
  src: url(../public/fonts/Alexandria-Light.ttf);
  font-weight: 400;
}

@font-face {
  font-family: AlexFont;
  src: url(../public/fonts/Alexandria-Regular.ttf);
  font-weight: 500;
}
